{% extends 'base.html' %}

{% block title %}User Profile{% endblock %}



{% block content %}
<div class="container-xxl">
    <div class="row">
        <div class="col-lg-3">
            <div class="profile">
                <h2>User Profile <i class="fas fa-user"></i></h2>
                <!-- Display User's Profile Image -->
                {% if user_profile.profile_image %}
                    <img src="{{ user_profile.profile_image.url }}" alt="Profile Image" class="profile-image">
                {% else %}
                    <p>No profile image found.</p>
                {% endif %}
                <p>Username: {{ user_profile.user.username }}</p>
                <p>Bio: {{ user_profile.bio }}</p>
                <a href="{% url 'update_profile' %}" class="btn btn-primary">Edit</a>
                <a href="{% url 'user_create_article' %}" class="btn btn-primary">Create Article</a>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="user-articles">
                <h3>User's Articles:</h3>
                {% if user_articles %}
                    <ul>
                        {% for article in user_articles %}
                            <li><a href="{% url 'articles:detail' article.id %}">{{ article.article_title }}</a></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No articles found.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
